body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #412525, #000000d3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    margin: 40px;
    border: solid 40px rgba(0,0,0,0.6) ;
    border-radius: 8px  ;
    background: rgba(0,0,0,0.6);
    
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background: #ff2f6a;
    color: white;
    text-align: center;
}

button:hover {
    background: #ff4f81;
}

.resposta {
    margin-top: 20px;
    font-size: 18px;
    min-height: 40px;
}

img {
    border-radius: 8px;
    margin-bottom: 50px;
    animation: flutuar 1s ease-in-out infinite;
     text-align: center; 
        width: 300px;
    
}

@keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

.modo-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #e100ff;
    color: #ffffff;
    font-weight: bold;
}

.modo-btn:hover {
    background: #00a6d6;
}

#modo-escolha input {
    margin-bottom: 10px;
}


@media (max-width: 600px) {

    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    input {
        font-size: 16px;
        padding: 12px;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        margin-top: 5px;
    }

    img {
        width: 100px;
    }

    .modo-btn {
        font-size: 14px;
        padding: 6px 10px;
        top: 10px;
        left: 10px;
    }
}
